.git
.github
.idea
.env
.env.*
!.env.example
!.env.install.example
!.env.local.example
!.env.test.example
!.env.production.example
vendor
backups
storage/cache/*
storage/logs/*
storage/sessions/*
public/uploads/articles/*
public/uploads/avatars/*
docs
layout_design
mobile
exports
.gradle-session-id.tmp
*.zip
