<FilesMatch "^\.env.*">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Deny from all
    </IfModule>
</FilesMatch>

<FilesMatch "^(composer\.(json|lock)|package(-lock)?\.json|README\.md|package\.php)$">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Deny from all
    </IfModule>
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^\.git - [F,L]
    RewriteRule ^\.github - [F,L]
    RewriteRule ^\.idea - [F,L]
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteCond %{DOCUMENT_ROOT}/public%{REQUEST_URI} -f [OR]
    RewriteCond %{DOCUMENT_ROOT}/public%{REQUEST_URI} -d
    RewriteRule ^(.+)$ public/$1 [L]
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^ public/index.php [L]
</IfModule>
